@tailwind base;
@tailwind components;
@tailwind utilities;

.whiteBG {
    background-color: hsl(0, 0%, 100%);
}

.veryLightGrayishCyan {
    background-color: hsl(189, 41%, 97%);
}

.lightGrayishCyan {
    background-color: hsl(185, 41%, 84%);
}

